[submodule "planners/drlvo"]
	path = planners/drlvo
	url = https://github.com/arena-planners/drlvo.git
	planner = drlvo
	branch = master
	update = rebase
[submodule "planners/crowdnav"]
	path = planners/crowdnav
	url = https://github.com/arena-planners/crowdnav.git
	planner = crowdnav
	branch = master
	update = rebase
[submodule "planners/attngraph"]
	path = planners/attngraph
	url = https://github.com/arena-planners/attngraph.git
	planner = attngraph
	branch = master
	update = rebase
[submodule "planners/kdma"]
	path = planners/kdma
	url = https://github.com/arena-planners/kdma.git
	planner = kdma
	branch = master
	update = rebase
[submodule "planners/rlrvo"]
	path = planners/rlrvo
	url = https://github.com/arena-planners/rlrvo.git
	planner = rlrvo
	branch = master
	update = rebase
[submodule "planners/height"]
	path = planners/height
	url = https://github.com/arena-planners/height.git
	planner = height
	branch = master
	update = rebase
[submodule "planners/scope"]
	path = planners/scope
	url = https://github.com/arena-planners/scope.git
	planner = scope
	branch = master
	update = rebase
[submodule "planners/sicnav"]
	path = planners/sicnav
	url = https://github.com/arena-planners/sicnav.git
	planner = sicnav
	branch = master
	update = rebase
[submodule "planners/hateb"]
	path = planners/hateb
	url = https://github.com/arena-planners/hateb.git
	branch = jazzy
	planner = hateb
	kind = nav2
	update = rebase
[submodule "planners/cadrl"]
	path = planners/cadrl
	url = https://github.com/arena-planners/cadrl.git
	planner = cadrl
	branch = master
	update = rebase
[submodule "planners/cd-sarl"]
	path = planners/cd-sarl
	url = https://github.com/arena-planners/cd-sarl.git
	planner = cd-sarl
	branch = master
	update = rebase
[submodule "planners/crowdsurfer"]
	path = planners/crowdsurfer
	url = https://github.com/arena-planners/crowdsurfer.git
	planner = crowdsurfer
	branch = master
	update = rebase
[submodule "planners/dsrnn"]
	path = planners/dsrnn
	url = https://github.com/arena-planners/dsrnn.git
	planner = dsrnn
	branch = master
	update = rebase
[submodule "planners/gensafenav"]
	path = planners/gensafenav
	url = https://github.com/arena-planners/gensafenav.git
	planner = gensafenav
	branch = master
	update = rebase
[submodule "planners/her-drl"]
	path = planners/her-drl
	url = https://github.com/arena-planners/her-drl.git
	planner = her-drl
	branch = master
	update = rebase
[submodule "planners/navistar"]
	path = planners/navistar
	url = https://github.com/arena-planners/navistar.git
	planner = navistar
	branch = master
	update = rebase
[submodule "planners/navrep"]
	path = planners/navrep
	url = https://github.com/arena-planners/navrep.git
	planner = navrep
	branch = master
	update = rebase
[submodule "planners/sonic"]
	path = planners/sonic
	url = https://github.com/arena-planners/sonic.git
	planner = sonic
	branch = master
	update = rebase
[submodule "vln/cma"]
	path = planners/cma
	url = https://github.com/arena-planners/cma.git
	planner = cma
	branch = master
	update = rebase
[submodule "vln/navid"]
	path = planners/navid
	url = https://github.com/arena-planners/navid.git
	planner = navid
	branch = master
	update = rebase
[submodule "vln/navila"]
	path = planners/navila
	url = https://github.com/arena-planners/navila.git
	planner = navila
	branch = master
	update = rebase
[submodule "vln/streamvln"]
	path = planners/streamvln
	url = https://github.com/arena-planners/streamvln.git
	planner = streamvln
	branch = master
	update = rebase
[submodule "vla/omnivla"]
	path = planners/omnivla
	url = https://github.com/arena-planners/omnivla.git
	planner = omnivla
	branch = master
	update = rebase
[submodule "vla/omnivla-edge"]
	path = planners/omnivla-edge
	url = https://github.com/arena-planners/omnivla-edge.git
	planner = omnivla-edge
	branch = master
	update = rebase
[submodule "vla/pi05"]
	path = planners/pi05
	url = https://github.com/arena-planners/pi05.git
	planner = pi05
	branch = master
	update = rebase
