[submodule "planners/drlvo"]
	path = planners/drlvo
	url = https://github.com/arena-planners/drlvo.git
	planner = drlvo
	branch = jazzy
	update = rebase
[submodule "planners/crowdnav"]
	path = planners/crowdnav
	url = https://github.com/arena-planners/crowdnav.git
	planner = crowdnav
	branch = jazzy
	update = rebase
[submodule "planners/attngraph"]
	path = planners/attngraph
	url = https://github.com/arena-planners/attngraph.git
	planner = attngraph
	branch = jazzy
	update = rebase
[submodule "planners/kdma"]
	path = planners/kdma
	url = https://github.com/arena-planners/kdma.git
	planner = kdma
	branch = jazzy
	update = rebase
[submodule "planners/rlrvo"]
	path = planners/rlrvo
	url = https://github.com/arena-planners/rlrvo.git
	planner = rlrvo
	branch = jazzy
	update = rebase
[submodule "planners/height"]
	path = planners/height
	url = https://github.com/arena-planners/height.git
	planner = height
	branch = jazzy
	update = rebase
[submodule "planners/scope"]
	path = planners/scope
	url = https://github.com/arena-planners/scope.git
	planner = scope
	branch = jazzy
	update = rebase
[submodule "planners/sicnav"]
	path = planners/sicnav
	url = https://github.com/arena-planners/sicnav.git
	planner = sicnav
	branch = jazzy
	update = rebase
[submodule "planners/hateb"]
	path = planners/hateb
	url = https://github.com/arena-planners/hateb.git
	branch = jazzy
	planner = hateb
	kind = nav2
	update = rebase
[submodule "planners/cadrl"]
	path = planners/cadrl
	url = https://github.com/arena-planners/cadrl.git
[submodule "planners/cd-sarl"]
	path = planners/cd-sarl
	url = https://github.com/arena-planners/cd-sarl.git
[submodule "planners/crowdsurfer"]
	path = planners/crowdsurfer
	url = https://github.com/arena-planners/crowdsurfer.git
[submodule "planners/dsrnn"]
	path = planners/dsrnn
	url = https://github.com/arena-planners/dsrnn.git
[submodule "planners/gensafenav"]
	path = planners/gensafenav
	url = https://github.com/arena-planners/gensafenav.git
[submodule "planners/her-drl"]
	path = planners/her-drl
	url = https://github.com/arena-planners/her-drl.git
[submodule "planners/navistar"]
	path = planners/navistar
	url = https://github.com/arena-planners/navistar.git
[submodule "planners/navrep"]
	path = planners/navrep
	url = https://github.com/arena-planners/navrep.git
[submodule "planners/sonic"]
	path = planners/sonic
	url = https://github.com/arena-planners/sonic.git
